body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(236, 233, 233);
    margin-left: 15%;
    margin-right: 15%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bee0ec;
    padding-right: 20px;
    margin-bottom: 50px;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrapper h1 {
    font-size: 40px;
}

.registration-wrapper a {
    color: rgb(95, 91, 91);
    margin-right: 20px;
    font-size: 20px;
}

.registration-wrapper ul {
    padding-left: 20px;
}

main {
    background-color: white;
}

.mainPageButtonParent {
    text-align: left;
    margin-top: 50px;
    padding-bottom: 50px;
}

.mainPageButton {
    background-color: #bee0ec;
    padding: 10px;
    padding: 5px 15px 5px 15px;
    font-size: 20px;
    color: #106685;
   border-radius: 5px;
   border: none;
   text-decoration: none;
}

:hover.mainPageButton {
    color: #60a8c2;
}

#addForm {
    padding: 20px;
}

.buttonWrapper {
    text-align: center;
}

button {
background-color: #bee0ec;
padding: 10px;
padding: 5px 15px 5px 15px;
font-size: 20px;
color: #106685;
border-radius: 5px;
border: none;
box-shadow: 5px 5px 5px;
}

button:hover {
color: #0d4153;
font-size: 25px;
}

#addForm input, textarea {
    width: 100%;
    margin-bottom: 20px;
}

input:focus {
    background-color: #60a8c267;
}

textarea:focus {
    background-color: #60a8c267;
}

h2 {
    font-size: 20px;
    color: rgb(219, 88, 27);
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .logo-wrapper h1 {
        font-size: 25px;
    }
    
    .registration-wrapper a {
        font-size: 15px;
    }
    
    header img {
        width: 150px;
        height: 150px;
    }
    
    .info-wrapper h3 {
        font-size: 20px;
    }
    
    .info-wrapper h2 {
        font-size: 25px;
    }

    }
    
    @media screen and (max-width: 650px) {
        .logo-wrapper h1 {
            font-size: 20px;
        }
        
        .registration-wrapper a {
            font-size: 10px;
        }
    
        header img {
            width: 100px;
            height: 100px;
        }
    
        .info-wrapper h3 {
            font-size: 15px;
        }
    
        .info-wrapper h2 {
            font-size: 20px;
            letter-spacing: 0.5px;
        }
    
        }
